@{
    Layout="Shared/_Layout.cshtml";
}
<h1 class="client-name">@Model.GetName()<img src="../Content/pony5.png" alt="pony picture" class="icon"/></h1>




<form action="/client/delete/@Model.GetId()" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit" class="btn clearish">Delete this client</button>
</form>

<div class="row">
    <div class="col-md-4">
        <p><a href="/client/edit/@Model.GetId()" class="links">Update this client's information</a></p>
    </div>
    <div class="col-md-4">
        <p id="spacebutton"><a href="/clients/new" class="links">Add another client</a></p>
    </div>
    <div class="col-md-4">
        <p><a href="/" class="links">Go back home</a></p>
    </div>
</div>
