@{
    Layout="Shared/_Layout.cshtml";
}

<h1 class="directory">Directory</h1>

<a href="/stylists"><h4 class="linkspaceleft"><img src="../Content/pony1.png" alt="pony picture" class="icon"/>View Stylists</h4></a>
<a href="/clients"><h4 class="linkspaceleft"><img src="../Content/pony2.png" alt="pony picture" class="icon"/>View All Clients</h4></a>

<!-- ADD these back in if time permits for search functions -->
<!-- <div class="row upperspace">
    <form action="/client/search/results" method="post">
      <label for="client-search">Search for a client:</label>
      <input id="client-search" name="client-search" type="text">
      <button type="submit" class="btn clearish">Search for client</button>
    </form>

    <form action="/stylist/search/results" method="post">
      <label for="stylist-search">Search for a stylist:</label>
      <input id="stylist-search" name="stylist-search" type="text">
      <button type="submit" class="btn clearish">Search for stylist</button>
    </form>
</div> -->
