@{
    Layout="Shared/_Layout.cshtml";
}
<form action="/stylists/new" method="post">
  <label for="stylist-name">Stylist name</label>
  <input id="stylist-name" name="stylist-name" type="text">
  <label for="stylist-specialty">Stylist's specialty</label>
  <input id="stylist-specialty" name="stylist-specialty" type="text">
  <label for="stylist-name">Stylist's years of experience</label>
  <input id="stylist-name" name="stylist-name" type="number">
  <button stylist="submit">Add</button>
</form>
